/src/.pkl_memoize_py3/
/.idea/.gitignore
/.idea/misc.xml
/.idea/mobile_ursonet.iml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
